.listContainer {
  padding: 12px;
  min-width: 200px;
}

.title {
  margin-top: 0;
}

.list {
  list-style-type: none;
  padding-inline-start: 0;
  padding: 10px;
  margin: 0;
  overflow: auto;
  height: 300px;
  background-color: #424242;
}

.listItem {
  cursor: pointer;
  line-height: 24px;
}

.active {
  background: #757575;
}
