.fieldEditor {
  background-color: #3c3b3b;
  display: flex;
  flex-direction: column;
  border: 1px solid #fafafa;
  padding: 12px;
  height: 420px;
}

.title {
  padding: 0 12px 11px 12px;
  border-bottom: 1px solid #fafafa;
  font-size: 24px;
}

.listContainer {
  display: flex;
  flex-grow: 1;
}
